.BCard-div-pos{
    top: 60%;
    left: 0;
}
.txt-sm{
    font-size: 13px !important;
}
.height{
    height: 400px;
}

@media (max-width:991px){
    .BCard-div-pos{
        position: relative !important;
        top: 100%;
        left: 0;
    }
}
