.clip {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.main-div-width2{
    width: 75% !important;
}
.no-border{
    border-right: 1px white solid;
}

@media (max-width:991px){
    .main-div-width2{
        width: 100% !important;
    }
    .no-border{
        border-right: none !important;
    }
}